<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Basic BLOG | <i class="bi bi-envelope"></i> <%=mail_to 'saenko.oleg1993@gmail.com'%></small>
  </div>
</footer>